*{
margin:0;
padding:0;
border:0;

}
body{							 
	background-color:#6BFFD4;
}
.header{						
	width:100%;
	height:200px;
	background-color:#BBBBBB;

}
.header_banner_placeholder
{
	width:100%;
	height:130px;
	background-color:BAFF6B;
}
#header_banner 
{
	height: 130px;
	margin-left: 50%;
	margin-right: 50%;
}
.header_placeholder
{
	height: 200px;
	width:100%;
	margin-top: -100px;
	text-align: center;
}
.header_logo
{
	display:inline-block;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.header_ul
{
	padding-top:10px;
	height:50px;
	margin-top: -100px;
}
#center_positioning_left
{
	margin-right:90px;
}
#center_positioning_right
{
	margin-left:90px;
}
.header_li
{
	width:150px;
	margin:0 20 0 20;
	height:50px;
	display:inline-block;
	background-color:red;

}
.mainwrapper
{
	width:100%;
	height:750px;
}
.mainposts
{
	float:left;
	height:730px;
	margin:10px;
	width:1530px;
}
.recent_news
{
	float:right;
	width:350px;
	height:750px;
	background-color:#886BFF;
}
.post_p
{
	width:1100px;
	height:250px;
	background-color:#FE98F3;
	margin:25px;
	position:relative;
	border-radius:10px;
}
